h1 {
  font-family: 'Corben', Georgia, Times, serif;
}

p {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  margin: 10%;
}

.topnav {
  overflow: hidden;
  background-color: rgb(255, 215, 215);
  justify-content: space-between;
  column-count: 2;
}

.topnav a {
  display: flex;
  float: right;
  position: relative;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.topnav a:hover {
  background-color: #ffb4f0;
  color: black;
}

label {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#form {
  position: relative;
  left: 5%;
}

.topnav a.split {
  flex: 1;
  font-size: medium;
}

.split {
  position: relative;
  left: 10%;
}

.square {
  display: flex;
  height: 500px;
  width: 500px;
  background-color: rgb(255, 128, 139);
  border-radius: 25%;
  margin: auto;
  align-items: center;
  font-size: 18px;
  border-width: 10%;  
  border-color: #000000;
}

#titel {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.romance-txt {
  position: absolute;
  top: 16%;
  left: 23%;
  font-size: 28px;
  color: #ffffff;
  font-family: 'Corben', Georgia, Times, serif;
}
.romancePic {
  height: 130px;
  width: 270px;
  border-radius: 10%;
}

.dystopian-txt {
  position: absolute;
  top: 16%;
  left: 20%;
  font-size: 28px;
  color: #f4f7f8;
  font-family: 'Corben', Georgia, Times, serif;
}

.dystopianPic {
  height: 130px;
  width: 270px;
  border-radius: 10%;
}

.contemporary-txt {
  position: absolute;
  top: 16%;
  left: 6%;
  font-size: 28px;
  color: #ffffff;
  font-family: 'Corben', Georgia, Times, serif;
}

.contemporaryPic {
  height: 130px;
  width: 270px;
  border-radius: 10%;
}

.fantasy-txt {
  position: absolute;
  top: 16%;
  left: 28%;
  font-size: 28px;
  color: #ffffff;
  font-family: 'Corben', Georgia, Times, serif;
}

.fantasyPic {
  height: 130px;
  width: 270px;
  border-radius: 10%;
}

.container {
  display: flex;
}

button {
  border: none;
  padding: 0;
  background: none;
  position: relative;
  padding: 1em;
  font-family: 'Nobile', Helvetica, Arial, sans-serif, Bold;

}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  height: 300px;
  width: 200px;
  overflow: hidden;
  padding: 1em;
}

.bookInfoElement {
  display: flex;
  flex-wrap: wrap;
}

.bookDetail {
  height: 450px;
  width: 320px;
  overflow: hidden;
  margin-left: 5%;
  display:inline-block; vertical-align:top;
}

#textDetails {
  padding: 1em;
  flex-direction: row;
}

.coverArt {
  width: 100%;
  height: 100%;
  flex-direction: row;
}

#textDetails {
  display:inline-block;
  margin-left: 5%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
}

input[type="text"],
textarea,
select {
  background: rgba(253, 191, 191, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #6d5c68;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

#submit {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #b1a1af;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #a993a5;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
